/*General rules*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {background: rgb(35,44,116);
    background: linear-gradient(180deg, rgba(35,44,116,1) 0%, rgba(170,217,236,1) 100%);
}

header, section, footer {
    background-color: #FFFFFF;
    margin: 2%;
    padding: 2%;
    border-radius: 5%;
}

#job img:hover {
    transform: scale(2);
    position: absolute;
    width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

h1 {margin-bottom: 2%;}
.date {font-weight: bold;}
.place {font-style: italic;}

/*Rules by section accoding to document order*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0px;
}
header img {
    border-radius: 25%;
    width: 10%;
    height: 10%;
}

#intro {margin-top: 4%;}

#firstHalf {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 2%;
}

#job {
    margin: 0 1% 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    row-gap: 20px;
    height: 100%;
    flex: 2 1 0;
}
#job div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    column-gap: 20px;
}
#job img {
    height: auto; width: 30%;
}

#firstHalfRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding-left: 2%;
    flex: 1 1 0;
}
ul {
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
 }
#informatic_skills {
    margin: 0 0 2% 0;
    padding: 5%;
    flex: 1 1 0;
}
#other_skills {
    margin: 2% 0 0 0;
    padding-left: 5%;
    flex: 1 1 0;
}

#secondHalf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 2%;
}

#education {
    margin: 0 1% 0 0;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 10px;
}

#education div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#education div p {
    width: 85%;
}

#education a {
    width: 15%;
    display: inline-block;
    text-align: center;
}

#education img {width: 70%; margin: auto;}
#education img[src*='uab'] {width: 100%; margin: auto;}

#research {
    margin: 0 0 0 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 0;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer a {
    width: 15%;
    display: inline-block;
    text-align: center;
}

footer img {
    width: 20%;
}
