* {margin: 0; padding: 0; box-sizing: border-box;}

body {background-color: hsl(44, 24%, 98%);}
section, footer {padding: 2%; border-radius: 1.5%;}
p {text-align: justify; text-justify: inter-word;}
h1 {margin-bottom: 1%;}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

header img {
    border-radius: 25%;
    width: 15%;
    height: 15%;
}

#intro {
    background-color: hsl(60, 100%, 80%);
    margin: 2%;
}

#firstHalf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 2%;
}

#job {
    background-color: hsl(240, 100%, 80%);
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#firstHalfRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding-left: 1%;
}

#informatic_skills {
    background-color: hsl(0, 100%, 80%);
    margin-bottom: 1%;
}

#other_skills {
    background-color: hsl(300, 100%, 80%);
    margin-top: 1%;
}

#secondHalf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 2%;
}

#education {
    background-color: hsl(120, 100%, 80%);
    margin-right: 1%;
}

#education > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 10px;
}

#education div div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#education div div p {
    width: 85%;
}

#education a {
    width: 15%;
    display: inline-block;
    text-align: center;
}

#education img {width: 70%; margin: auto;}
#education img[src*='uab'] {width: 100%; margin: auto;}

#research {
    background-color: hsl(39, 100%, 80%);
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    background-color: blueviolet;
    margin: 2%;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer a {
    width: 15%;
    display: inline-block;
    text-align: center;
}

footer div img {
    width: 20%;
}
