/*General rules*/
* {
  margin: 0rem;
  padding: 0rem;
  border: 0rem;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: rgb(35, 44, 116);
  background: linear-gradient(
    180deg,
    rgba(35, 44, 116, 1) 0%,
    rgba(170, 217, 236, 1) 100%
  );
  margin: 2rem;
}

header,
section,
footer {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 1rem;
}

#job img:hover {
  transform: scale(2);
  position: absolute;
  width: 25%;
  top: 50%;
  left: 50%;
}

h1 {
  margin-bottom: 1rem;
}
.date {
  font-weight: bold;
}
.place {
  font-style: italic;
}

/*Rules by section accoding to document order*/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0rem;
}
header img {
  border-radius: 1rem;
  width: 10%;
  height: 10%;
}

#intro {
  margin-top: 1rem;
}

#firstHalf {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

#job {
  margin: 0 1rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  row-gap: 1rem;
  height: 100%;
  flex: 2 1 0;
  width: 60%;
}
#job div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  column-gap: 1rem;
}
#job img {
  height: auto;
  width: 10rem;
}

#firstHalfRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex: 1 1 0;
  width: 40%;
}
ul {
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}
#informatic_skills {
  margin: 0 0 1rem 0;
  flex: 1 1 0;
}
#other_skills {
  flex: 1 1 0;
}

#secondHalf {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

#education {
  margin: 0 1rem 0 0;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 1rem;
}

#education div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#education div p {
  width: 85%;
}

#education a {
  width: 15%;
  display: inline-block;
  text-align: center;
}

#education img {
  width: 70%;
  margin: auto;
}
#education img[src*="uab"] {
  width: 100%;
  margin: auto;
}

#research {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 0;
}

footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer a {
  width: 5rem;
  display: inline-block;
  text-align: center;
}

footer img {
  width: 1rem;
}
